BASE_URL=https://roboce-622974d5-de.rox-test.lila.dih.telekom.com
API_KEY=nlk2tOYtUT5lIFJcphPJjPoOpNO2Pu9NU7WyfOkvlecR9TlKV2
EDC_NAMESPACE=https://w3id.org/edc/v0.0.1/ns/
DEFAULT_ASSET_NAME=s3-test2
PRINT_RESPONSE=true
PRINT_FIRST_JSON_ELEMENT_ONLY=true
EDR_POLLING_TIMEOUT_SECONDS=30

# Business Partner Number of the Provider
PROVIDER_BPN=BPNL000000000342 